body {
    font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

footer {
    position: relative;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgba(45,45,45,0.98);
}

.ac-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ac-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}