#footer {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(45,45,45,0.98);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.footer-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

ul.footer-list {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    list-style: none;
}
 
li.footer-item {
    position: relative;
    top: 0;
    height: 100%;
    float: left;
    list-style-type: none;
}
 
a.footer-link {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.footer-link-icon {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    margin: 0;
}

a.footer-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}