#awardview {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.av-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.av-content {
    /* content to center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.av-content {
    text-align: center;
    color: white;
}

.av-slideshow {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 300px);
    height: 100%;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
}

.av-slide {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.av-slide-image {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 55vh;
    width: auto;
    margin: 0 auto; /* it centers any block level element */
    padding: 0;
}

.av-slide-info-content {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0;
}

.av-slide-title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.av-slide-competition {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.av-slide-date {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

/* .av-slide-description {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
} */